:root {
    --dark-1: #181818;
    --dark-2: #474747;
    --dark-3: #757575;
}


* {
    font-family: "Open Sans", sans-serif;
    margin: 0px;
}

header {
    background: #FFF8F3;
    background-image: url('images/developer.png'), url('images/header_bg.png');
    background-repeat: no-repeat;
    background-position: top left, right bottom;
    ;
}

/* Nav related styles start*/
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 230px 0px;
}

.navbar nav {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
}

nav a {
    text-decoration: none;
    color: var(--dark-2);
    font-size: 20px;
    font-weight: 400;
    margin-right: 50px;
}

.nav-title {
    color: var(--dark-1);
    font-family: "Open Sans";
    font-size: 45px;
    font-weight: 800;
}

.nav-title span {
    color: #FD6E0A;
}

.btn-primary {
    border: 0px;
    border-radius: 5px;
    background-color: #FD6E0A;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    padding: 18px 36px;
}

/* nav end */

/* banner start */
.banner {
    display: flex;
    padding-left: 230px;
    margin-top: 50px;
}

.banner img {
    max-width: 584px;
    max-height: 676px;
}

.banner-greeting {
    margin-top: 185px;
    margin-bottom: 5px;
    color: var(--dark-2);
    font-size: 45px;
    font-weight: 600;
}

.banner-title {
    color: var(--dark-1);
    font-size: 85px;
    font-weight: 700;
    margin-bottom: 20px;
}

.banner-desc {
    color: var(--dark-3);
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 30px;
    max-width: 585px;
}

.banner button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.btn-contact {
    border-radius: 5px;
    border: 1px solid #FD6E0A;
    color: #FD6E0A;
    padding: 18px 20px;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    margin-left: 30px;
}

/* banner end */


/* About Me Section Start */

.about-container {
    margin: 130px 230px;
    /* max-width: 1140px;
    max-height: 550px; */
    border-radius: 10px;
    background-color: #FFF8F3;
    padding: 130px 156px;
    text-align: center;


}

.about-me {
    border: 1px solid #000;
    background-color: #FFF;
    padding: 10px;

}

.about-title {
    color: #181818;
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 30px;
}

.about-desc {
    color: var(--dark-3);
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 30px;

}

.p-info {
    display: flex;
    justify-content: space-between;
}

.p-info .p-title {
    color: var(--dark-3);
    font-size: 20px;
    font-weight: 400;
}

.p-info .p-desc {
    color: var(--dark-2);
    font-size: 20px;
    font-weight: 700;
}






/* About Me Section End */



/* What I Do section starts */
.what-i-do {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.what-i-do h3 {
    color: var(--dark-1);
    font-size: 35px;
    font-weight: 700;
}

.what-i-do h4 {
    padding-top: 30px;
    text-align: center;
    color: var(--dark-3);
    font-size: 18px;
    font-weight: 400;
    width: 909px;
}

/* What I Do section end */


/* Skills Section Starts */

.skills-container {
    margin: 50px 230px 130px;
    display: flex;
    gap: 24px;
}

.skills-container .skills-card {
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    padding: 20px;
}

.skills-container .skills-card img {
    margin-left: 10px;
    margin-top: 15px;
}

.skills-container .skills-card .skills-desc {
    margin: 30px 10px;
}

.skills-container .skills-card .skills-desc h3 {
    margin-bottom: 20px;
    color: var(--dark-1);
    font-size: 20px;
    font-weight: 700;

}

.skills-container .skills-card .skills-desc p {
    color: var(--dark-3);
    font-size: 16px;
    font-weight: 400;

}


/* Skills Section Ends */

/* Summary Section Starts */
.resume-summary-container {
    max-width: 960px;
    margin: 50px auto;
    padding: 20px;
}

.resume-summary-container h3 {
    text-align: center;
    margin-bottom: 113px;
    color: var(--dark-1);
    font-size: 35px;
    font-weight: 700;
}

.resume-summary-container .btn-primary {
    margin: 50px 350px 113px;
}

.resume-container {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.education-summary h4,
.experience-summary h4 {
    color: var(--dark-2);
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 30px;
}

.education-summary div,
.experience-summary div {
    max-width: 1600px;
    max-width: 4256px;
    margin-bottom: 20px;
    padding: 15px 15px 15px 0px;
    border-bottom: 1px solid #D1D1D1;
}

.summary-title {
    color: var(--dark-2);
    font-size: 25px;
    font-weight: 700;
}

.summary-institution {
    color: var(--dark-3);
    font-size: 20px;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 20px;
}

.summary-desc {
    color: var(--dark-3);
    font-size: 16px;
    font-weight: 400;
}

/* Summary Section Ends */


/* Footer Starts */
.footer-container {
    background-color: #FFF8F3;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    gap:50px;
    padding: 20px;
}

.connect {
    margin-top: 130px;
}

.connect h3 {
    color: var(--dark-2);
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 30px;
}

.connect p {
    color: var(--dark-3);
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 30px;
}
.connect svg{
    margin-right: 10px;
}
.message {
    margin-top: 130px;
}

.message h3 {
    color: var(--dark-2);
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 30px;
}

input[type="text"],
input[type="email"] {
    margin-top: 25px;
    width: 50%;
    border: 1px solid #FFF;
    border-radius: 5px;
    padding: 15px 30px;

}

textarea {
    margin-top: 25px;
    border: 1px solid #FFF;
    border-radius: 5px;
    padding: 20px 365px 135px 30px;
    color: var(--dark-3);
    font-size: 16px;
    font-weight: 400;
    

}
input[type="submit"]{
    margin-top: 25px;
    margin-bottom: 145px;
    border: 0px;
    border-radius: 3px;
    background-color: #FD6E0A;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 30px;
}
/* Footer Ends */